<?xml version="1.0"?>

<launch>

    <node pkg="follower" type="follower_node" name="follower_node"/>

    <include file="$(find simple_sim)/launch/simple_sim_rviz.launch"/>

    <!-- Run rqt_plot -->
    <node pkg="rqt_plot" type="rqt_plot" name="rqt_plot_speed" args=" /value/speed, /value/speed_reference"/>
    <node pkg="rqt_plot" type="rqt_plot" name="rqt_plot_steering_angle" args=" /value/steering_angle, /value/steering_angle_reference"/>
  
</launch>
